/****************************** 
GENERAL
******************************/

*::before,
*::after,
* {
  box-sizing: inherit;
}

:root {
  font-size: 1rem;

  --color--primary: #333;
  --color--secondary: #fefefe;
  --color--accent: violet;
  --background-color--primary: #fefefe;
  --btn-color: violet;
  --btn-color--hover: darkviolet;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  color: var(--color--primary);
  background-color: var(--background-color--primary);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

/* Screen Reader Visibility */
.srt { 
  border: 0;   
  clip: rect(1px, 1px, 1px, 1px); 
  clip-path: inset(50%);
  height: 1px; 
  margin: -1px;
  width: 1px; 
  overflow: hidden; 
  position: absolute !important;
  word-wrap: normal !important;
}

/* Keyframes */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



/****************************** 
SITE HEADER
******************************/

.site-header {
  width: 100%;
  height: 300px;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 95%,
      rgba(254, 254, 254, 1)
    ),
    url('../assets/movie-theatre.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  font-family: 'Monoton', cursive;
  font-size: 1.3em;
  text-shadow: 2px 2px 2px var(--color--accent);
  letter-spacing: 0.125em;
  margin: 0 0 3.5em;
  color: var(--color--secondary);
}



/****************************** 
POSTER SECTION
******************************/

.poster-search-results__wrapper {
  padding: 0 5%;
  text-align: center;
}

.poster-search-form {
  font-size: 1.1rem;
  margin: 3em 0;
}

.poster-search-input {
  height: 40px;
  width: 280px;
  margin-bottom: 1em;
  padding: 0.4em;
  border: 1px solid var(--color--primary);
}

.poster-search-input::placeholder {
  color: var(--color--primary);
}

.poster-search-btn {
  height: 40px;
  border: none;
  border-radius: 4em;
  padding: 0.4em 0.6em;
  margin-left: 0.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color--secondary);
  background-color: var(--btn-color);
  width: 5.5em;
  transition: 
    background-color 0.2s ease-out,
    letter-spacing 0.2s ease-out,
    width 0.2s ease-out;
}

.poster-search-btn:hover,
.poster-search-btn:focus {
  cursor: pointer;
  background-color: var(--btn-color--hover);
}

.poster-search-results {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 0 auto;
  align-items: center;
  max-width: 1250px;
}

.poster {
  transform: scale(1);
  transition: transform 0.3s ease-out;
  animation: fade-in 0.4s ease-in;
}

.poster:hover {
  transform: scale(1.1);
  cursor: pointer;
}



/****************************** 
SITE FOOTER
******************************/

.site-footer {
  font-size: 0.9rem;
  margin-top: 2em;
  text-align: center;
}

.heart {
  color: red;
}



/****************************** 
MEDIA QUERIES
******************************/
@media screen and (min-width: 40em) {
  /* Site Header */
  .site-header {
    font-size: 1.8rem;
    height: 350px;
  }

  /* Poster Section */
  .poster-search-btn:hover,
  .poster-search-btn:focus {
    letter-spacing: 10px;
    width: 11em;
  }
}

@media screen and (min-width: 75em) {
  .site-header {
    font-size: 2.2rem;
    height: 400px;
  }
}